<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a7445e87-cb38-4f18-b700-d237e6127e58/resourceGroups/AzureITL/providers/Microsoft.Web/sites/RemoveCommentsFromJsonFile</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://removecommentsfromjsonfile.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>removecommentsfromjsonfile.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RemoveCommentsFromJsonFile</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RemoveCommentsFromJsonFile</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>